<% content_for :head do %>Why not Zoidberg?<% end%>
                
                <h1><%= lorem.sentence %></h1>
                
                <p><%= lorem.paragraph %></p>
                
                <p><%= lorem.paragraph %></p>
                
                <p><%= lorem.paragraph %></p>